name: Build docker image

on:
  push:
    branches:
    - master

    tags:
    - '*'

  pull_request:

env:
  PYTHON39: 3.9.2
  PYTHON38: 3.8.8
  PYTHON37: 3.7.10
  PYTHON36: 3.6.13
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  python39:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON39 }}
        tags: 3.9,3,latest
  python38:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON38 }}
        tags: 3.8
  python37:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON37 }}
        tags: 3.7
  python36:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON36 }}
        tags: 3.6
  ### dev
  python39-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON39 }}
        dev: 1
        tags: 3.9-dev,3-dev,dev
  python38-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON38 }}
        dev: 1
        tags: 3.8-dev
  python37-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON37 }}
        dev: 1
        tags: 3.7-dev
  python36-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON36 }}
        dev: 1
        tags: 3.6-dev
  ### dev-macos
  python39-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON39 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 3.9-dev-macos,3-dev-macos,dev-macos
        platform: linux/amd64,linux/arm64
  python38-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON38 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 3.8-dev-macos
        platform: linux/amd64,linux/arm64
  python37-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON37 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 3.7-dev-macos
        platform: linux/amd64,linux/arm64
  python36-dev-macos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v1
      with:
        platforms: amd64,arm64
    - uses: docker/setup-buildx-action@v1
    - uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-step1-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - uses: ./.github/actions
      with:
        version: ${{ env.PYTHON36 }}
        dev: 1
        user_id: 501
        group_id: 20
        tags: 3.6-dev-macos
        platform: linux/amd64,linux/arm64
